.write-sun-moon {
  position: absolute;
  right: 23%;
  top: 18%;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  background: var(--sun-moon);
  box-shadow:
    0 0 18px var(--sun-moon-shadow),
    0 0 42px var(--sun-moon-shadow);
  z-index: 2;
}

.write-sun-moon::before{
  content: "";
  position: absolute;
  inset: -45px;
  border-radius: 50%;
  background: rgba(255, 246, 199, 0.45);
  filter: blur(35px);
  z-index: -1;
}

.write-star-one {
  left: 30%;
  top: 40%;
}

.write-star-two {
  right: 28%;
  bottom: 31%;
}

.write-card {
  position: relative;
  z-index: 5;
  width: 600px;
  height : 600px;
  padding: 48px 34px 34px;
  border-radius: 44px;
  background: var(--card-bg);
  border: 2px solid var(--card-line);
  box-shadow:
    0 30px 90px rgba(0, 0, 0, 0.2),
    0 0 60px var(--bg-light-1);
}

.write-card h2 {
  text-align: center;
  margin-bottom: 45px;
  font-size: 32px;
  font-weight: 800;
  color: var(--text);
  letter-spacing: -0.05em;
}

.input-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}